:root {
    --transparent: #00000000;
    --red: #FF3C2B;
    --green: #99D84D;
    --search-box-background: #ff0066;
    --background-color: #1b2e2e;
    --foreground-color: #ffffff;
    --background-dark-color: #142222;
    --background-light-color: #386060;
}

* {
    margin: 0;
    padding: 0;
}

html, body, .content {
    height: 100%;
    width: 100%;
}

.content {
    background-color: var(--background-dark-color);
}

.main-container {
    background-color: var(--background-color);
    width: 90%;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    /* box-shadow: 5px 5px var(--background-light-color); */
}

.stripe-container {
    background-color: var(--red);
    height: 2%;
}
.question-latex-container {
    background-color: var(--background-color);
    height: 39%;
    color: var(--foreground-color);
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer-latex-container {
    background-color: var(--background-color);
    height: 39%;
    color: var(--foreground-color);
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer-plain-container {
    background-color: var(--background-light-color);
    height: 20%;
}
input {
    width: 100%;
    height: 100%;
    background-color: var(--transparent);
    border: none;
    color: var(--foreground-color);
    text-align: center;
    font-size: 3vw;
}

.icon-button {
    color: var(--foreground-color);
    background-color: var(--transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vh;
    height: 5vh;
    position: absolute;
}

.button-search {
    top: 10%;
    right: 2%;
    border-radius: 5px;
}
.button-skip {
    top: 16%;
    right: 2%;
    border-radius: 5px;
}

.search-box-container {
    display: none;
    height: fit-content;
    max-height: 80%;
    width: 95%;
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: var(--search-box-background);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    overflow: visible;
}

#search-input {
    border: hidden;
}
#search-input:focus {
    outline: none;
}

.search-result {
    background-color: var(--search-box-background);
    color: var(--foreground-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.selected {
    text-decoration: underline;
    text-decoration-color: var(--foreground-color);
}

.search-result-index {
    display: none;
}

.invisible {
    display: none;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.title {
    color: var(--foreground-color);
    position: absolute;
    right: 0;
    left: 0;
    top: 3%;
    text-align: center;
    font-size: 5vh;
    margin: auto;
}
